```
# Environment
.env

# Dependency directories
vendor/

# Database
database/database.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Coverage
coverage/
htmlcov/
.coverage

# PHP specific
*.php~
**/vendor/**/composer.lock

# Laravel specific
bootstrap/cache/*
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

```